*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
nav{
display: flex;
justify-content: space-around;
align-items: center;
height: 140px;
box-shadow: 0px 4px 10px rgb(0, 0, 0, 0.1);
}
.nav_icons{
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
}
.nav_icons p{
    font-size: 20px;
    font-weight: bold;
}
.main_container{
width: 650px;
border-radius: 50px;
border: 1px solid black;
margin-top: 186px;
margin-left: 600px;
height: 786px;
}
.sig{
    display: flex;

}
.pig{
    display: flex;
}